<form>
  <div class="card mx-auto bg-info" style="width: 32rem; margin: 30px;">
    <label for="nome" class="fw-bold">Nome: </label>
    <input type="text" name="nome"><br>
    
    <label for="cognome" class="fw-bold">Cognome: </label>
    <input type="text" name="cognome"><br>

    <label for="indirizzo" class="fw-bold">Indirizzo: </label>
    <input type="text" name="indirizzo"><br>

    <label for="telefono" class="fw-bold">Telefono: </label>
    <input type="text" name="telefono"><br>

    <label for="email" class="fw-bold">Email: </label>
    <input type="email" name="email"><br>

    <label for="dataPr" class="fw-bold">Data prenotazione: </label>
    <input type="text" name="dataPr"><br>

    <label for="oraPr" class="fw-bold">Ora prenotazione: </label>
    <input type="text" name="oraPr"><br>
    <br>
    <button type="button" class="btn btn-secondary" (click)="mostra()">Prenota</button>
  </div>
</form>
<br>
<div *ngIf="nascondi">
  <button class="card text-center btn btn-warning mx-auto" *ngFor = "let a of data" style="width: 32rem;" (click)="foosss()">
    <p class="fw-bold">{{a.data}} - {{a.ora}} -> {{a.nome}} {{a.cognome}}</p>
  </button>
  <div *ngIf="fooSS">
    <app-foo></app-foo>
  </div>
</div>
  